@model SearchResultModel

<h2>Search Results</h2>

Average amount of days : @Model.AvarageDaysAmount.

@foreach (var group in Model.Groups)
{
    <p><h3>@group.GroupName:</h3></p>
    <p>Average amount of days : @group.AvarageDaysAmount.</p>
    @foreach (var pr in group.PullRequests)
    {
        <ul>
            <li>
                <a href="@pr.Uri">@pr.Title</a><br />
                @pr.Description<br />
                Comments: @pr.CommentsAmmount<br />
                Created: @pr.CreationDate<br />
                Creator: @pr.Creator.Login <img src="@pr.Creator.AvatarLink" style="max-width: 20px; max-height: 20px;"><br />
                Commits:<br />
                <ul>
        @foreach (var commit in pr.Commits)
        {
                <li>
                            @commit.Hash<br />
                            Message: @commit.Message<br />
                            Date: @commit.Date<br />
                            Author:@commit.Author.Login <img src="@commit.Author.AvatarLink" style="max-width: 20px; max-height: 20px;"><br />
            </li>
                    }            
        </ul>
        </li>
        </ul>
    }
}